/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1e8e6;
    color: #543c52;
    height: 100%;
}

/* Navbar */
.navbar {
    background-color: #f55951 !important;
    color: #543c52 !important;
}

.bg-primary {
    background-color: #edd2cb !important;
}

.navbar-brand, .nav-link {
    color: #543c52 !important;
}

.nav-link:hover {
    color: #361d32 !important;
}

/* Buttons */
.btn-primary {
    background-color: #543c52;
    border-color: #543c52;
}

.btn-primary:hover {
    background-color: #361d32;
    border-color: #361d32;
}

.btn-danger {
    background-color: #f55951;
    border-color: #f55951;
}

.btn-danger:hover {
    background-color: #361d32;
    border-color: #361d32;
}

/* Footer */
footer {
    background-color: #edd2cb;
    color: #543c52;
    padding: 10px 0;
    text-align: center;
}

/* Tables */
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #edd2cb;
}

/* RTL Styles */
html[dir="rtl"] body {
    direction: rtl;
    text-align: right;
}

html[dir="rtl"] .navbar {
    flex-direction: row-reverse;
}

html[dir="rtl"] .navbar-nav {
    margin-right: auto;
    margin-left: 0;
}

.list-group {
     padding-right: 0px;
}