body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}

.navbar {
    background-color: #343a40;
}

.navbar-brand, .nav-link {
    color: #fff !important;
}

.nav-link:hover {
    color: #d4d4d4 !important;
}

footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #4CAF50;
}

.container {
    padding-top: 20px;
}

button {
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}
